<app-loader diameter="55" [is-loading]="isLoading"></app-loader>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm-10 col-md-8 col-lg-4 offset-sm-1 offset-md-2 offset-lg-4">
      <app-card [title]="title" align-actions="end">
        <ng-container *ngIf="!showError && !mode && !code && !showSendEmail">
          <span class="reset-input-header">Please enter your email address to reset your password.</span>
          <mat-form-field class="input-full-width" appearance="outline">
            <!-- <mat-label>Email Address</mat-label> -->
            <input matInput placeholder="Email address" [formControl]="emailControl" required email>
            <mat-error *ngIf="emailControl.errors && emailControl.errors.required">Email address is
              required.</mat-error>
            <mat-error *ngIf="emailControl.errors && emailControl.errors.email">Email format is not valid.</mat-error>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="!showError && mode && code && !showSendEmail">
          <span class="reset-input-header">Please enter your new password.</span>
          <mat-form-field class="input-full-width" appearance="outline">
            <!-- <mat-label>Email Address</mat-label> -->
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="New Password" [formControl]="newPasswordControl">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="newPasswordControl.errors && newPasswordControl.errors.required">New password is
              required.</mat-error>
            <mat-error *ngIf="newPasswordControl.errors && newPasswordControl.errors.minlength">New password must be of
              8 characters.</mat-error>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="showError">
          <span class="reset-input-header">Your request to reset your password has expired or the link has already been
            used</span>
        </ng-container>
        <ng-container *ngIf="showSendEmail">
          <span class="reset-input-header">An email with reset password link has been sent on your mail. Please check
            and follow the steps.</span>
        </ng-container>
        <ng-container slot="actions" *ngIf="!showError && !showSendEmail">
          <button type="button" mat-raised-button color="primary" [disabled]="disable"
            (click)="handleAction()">{{buttonLabel}}</button>
        </ng-container>
      </app-card>
    </div>
  </div>
</div>
