<app-loader diameter="55" [is-loading]="isLoading"></app-loader>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm-10 col-md-8 col-lg-4 offset-sm-1 offset-md-2 offset-lg-4">
      <form [formGroup]="changePasswordForm" (ngSubmit)="handleSubmit()">
        <div class="form-group">
          <app-card title="Change Password" align-actions="end">
            <mat-form-field class="input-full-width" appearance="outline">
              <mat-label>New Password</mat-label>
              <input [type]="newHide ? 'password' : 'text'" id="new-password" matInput placeholder="New Password"
                [errorStateMatcher]="matcher" formControlName="newPassword">
              <button type="button" mat-icon-button matSuffix (click)="newHide = !newHide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newHide">
                <mat-icon>{{newHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <!-- <span *ngIf="email.invalid && (email.dirty || email.touched)"> -->
              <mat-error *ngIf="newPassword.errors && newPassword.errors.required">Password is Required.</mat-error>
              <mat-error *ngIf=" newPassword.errors && newPassword.errors.minlength">Password should be of minimum 8
                characters.</mat-error>
              <!-- </span> -->
            </mat-form-field>
            <mat-form-field class="input-full-width" appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input [type]="confirmHide ? 'password' : 'text'" id="confirm-password" matInput
                placeholder="Re-enter Password" [errorStateMatcher]="matcher" formControlName="confirmPassword">
              <button type="button" mat-icon-button matSuffix (click)="confirmHide = !confirmHide"
                [attr.aria-label]="'Confirm Hide password'" [attr.aria-pressed]="confirmHide">
                <mat-icon>{{confirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <!-- <span *ngIf="email.invalid && (email.dirty || email.touched)"> -->
              <mat-error *ngIf="confirmPassword.errors && confirmPassword.errors.required">Confirm Password is
                Required.</mat-error>
              <mat-error *ngIf=" confirmPassword.errors && confirmPassword.errors.minlength">Password should be of
                minimum 8 characters.</mat-error>
              <mat-error *ngIf=" confirmPassword.errors && confirmPassword.errors.confirmPassword">Password did not
                match.</mat-error>
              <!-- </span> -->
            </mat-form-field>
            <div class="form-row">
              <mat-form-field class="col-sm-8 col-md-8 col-lg-8" appearance="outline">
                <mat-label>OTP</mat-label>
                <input [type]="'number'" [ngClass]="!isOtpSent ? 'cursor-blocked' : ''" [readonly]="!isOtpSent" matInput
                  placeholder="OTP" [disabled]="!isOtpSent" [errorStateMatcher]="matcher" formControlName="code">
                <mat-hint>&#9432; Only supports India(+91) numbers</mat-hint>
                <mat-error *ngIf="code.errors && code.errors.required">OTP is required.</mat-error>
              </mat-form-field>
              <div class="col-sm-4 col-md-4 col-lg-4">
                <button id="send-otp" type="button" *ngIf="showOtpButton" class="mt-2" mat-raised-button
                  (click)="captchaRef.execute()">{{ isOtpSent ?
                  'Re-send OTP' : 'Send OTP'}}</button>
                <button [matTooltip]="tooltip" type="button" *ngIf="!showOtpButton" class="mt-2" mat-button>
                  <mat-icon>timer</mat-icon>{{ ' ' + timer + ' seconds'}}
                </button>
              </div>
              <div class="form-row">
                <div class="col-12">
                  <!-- <div id="recaptcha-container"></div> -->
                  <re-captcha size="invisible" #captchaRef="reCaptcha"
                    (resolved)="$event && sendOtpWithCaptcha($event)"></re-captcha>
                </div>
              </div>
            </div>
            <ng-container slot="actions">
              <div class="mb-3">
                <button id="update-password" class="mr-1" type="submit" mat-raised-button color="primary"
                  [disabled]="disabled">Update</button>
                <button type="reset" mat-raised-button color="warn">Reset</button>
              </div>
            </ng-container>
          </app-card>
        </div>
      </form>
    </div>
  </div>
</div>
