mat-progress-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  pointer-events: visible;
  backdrop-filter: blur(3px);
}

.message {
  position: fixed;
  text-align: center;
  top: 60%;
  left: 50%;
  // bottom: 50%;
  right: 50%;
  z-index: 9999;
  // transform: translate(-55%, -55%);
}
